.actions {
    text-align: end;
    white-space: nowrap;
    width: 12%
}

.main-actions {
    display: flex;
    justify-content: space-around;
}

.table-title {
    font-size: larger;
}

.table-title:hover {
    cursor: pointer;
}

.table-action:hover {
    cursor: pointer;
}

.code {
    width: 10%;
}

.existingSessions {
    vertical-align: text-top;
    padding-right: 3px;
}

.existingSessionsButton {
    padding: 4px 10px;
}

