.container {
    margin-right: 0;
    margin-left: 0;
}

form {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.search {
    width: calc(12% - 12px);
    min-width: calc(161px - 12px);
    padding-left: 12px;
}

.reset-button {
    margin-top: 1px;
    margin-bottom: 4px;
}

.reset-text {
    padding-top: 15%;
}