body {
    margin: 0;
}

header.page-header {
    /*background-color: #800000;*/
    background: no-repeat left/cover url(resources/img/background.jpg);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header.page-header > h1 {
    font-weight: bold;
    font-size: calc(1.2em + (100vw - 120px) / 100);
    margin: 2%;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    width: 100%;
    background-color: lightgray;
}
